<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee},
                #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--    定义复杂映射关系的元素-->
    <resultMap id="orderDetail" type="com.sky.vo.HistoryOrdersVO">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="address_book_id" property="addressBookId"/>
        <result column="order_time" property="orderTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="pay_method" property="payMethod"/>
        <result column="pay_status" property="payStatus"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="consignee" property="consignee"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="rejection_reason" property="rejectionReason"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="estimated_delivery_time" property="estimatedDeliveryTime"/>
        <result column="delivery_status" property="deliveryStatus"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="pack_amount" property="packAmount"/>
        <result column="tableware_number" property="tablewareNumber"/>
        <result column="tableware_status" property="tablewareStatus"/>
        <!--        封装orderDetailList-->
        <collection property="orderDetailList" ofType="com.sky.entity.OrderDetail">
            <id column="odd_id" property="id"/>
            <result column="odd_name" property="name"/>
            <result column="odd_orderId" property="orderId"/>
            <result column="odd_dishId" property="dishId"/>
            <result column="odd_setmealId" property="setmealId"/>
            <result column="odd_dishFlavor" property="dishFlavor"/>
            <result column="odd_number" property="number"/>
            <result column="odd_amount" property="amount"/>
            <result column="odd_image" property="image"/>
        </collection>
    </resultMap>

    <select id="historyOrdersPageQuery" resultMap="orderDetail">
        select od.*,
        odd.id odd_id,
        odd.name odd_name,
        odd.order_id odd_orderId,
        odd.dish_id odd_dishId,
        odd.setmeal_id odd_setmealId,
        odd.dish_flavor odd_dishFlavor,
        odd.number odd_number,
        odd.amount odd_amount,
        odd.image odd_image
        from orders od
        left join order_detail odd on od.id = odd.order_id
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
        order by order_time desc
    </select>

    <select id="getOrderDetailById" resultMap="orderDetail">

        select od.*,
               odd.id          odd_id,
               odd.name        odd_name,
               odd.order_id    odd_orderId,
               odd.dish_id     odd_dishId,
               odd.setmeal_id  odd_setmealId,
               odd.dish_flavor odd_dishFlavor,
               odd.number      odd_number,
               odd.amount      odd_amount,
               odd.image       odd_image
        from orders od
                 left join order_detail odd on od.id = odd.order_id
        where od.id = #{id}
    </select>
    
    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null">number like concat('%', #{number}, '%')</if>
            <if test="phone != null">and phone like concat('%', #{phone}, '%')</if>
            <if test="status != null">and status = #{status}</if>
            <if test="beginTime != null and endTime != null">and order_time between #{beginTime} and #{endTime}</if>
        </where>
        order by order_time desc
    </select>

</mapper>
