<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch" parameterType="list">
        insert into order_detail
        (name, order_id, dish_id, setmeal_id, dish_flavor, number, amount, image)
        values
        <foreach collection="orderDetails" item="od" separator=",">
            (#{od.name},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},
            #{od.number},#{od.amount},#{od.image})
        </foreach>
    </insert>

    <select id="getTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select odd.name, odd.number
        from order_detail odd
                 left join orders od on odd.order_id = od.id
        <where>
            <if test="status != null">and od.status = #{status}</if>
            <if test="begin != null">and od.order_time &gt; #{begin}</if>
            <if test="end != null">and od.order_time &lt; #{end}</if>
        </where>
        order by odd.number desc;
    </select>
</mapper>
